# Core
asyncio
aiohttp
python-dotenv
pandas==1.5.3
numpy==1.24.3
# pandas-ta (ZIP Method)
https://github.com/twopirllc/pandas-ta/archive/development.zip

# Binance
binance-futures-connector>=3.0.0

# Database
supabase

# Telegram
aiogram>=3.0.0

# Server
gunicorn # Optional if using python main.py direct
